@model Appointify.Admin.ViewModels.Users.IndexViewModel

@{
    ViewData["Title"] = Strings.Users;
    ViewData["Page"] = NavigationPages.Users;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(function () {
        $(".delete-user").on("click", function () {
            var idToDelete = $(this).data("id");
            $("#idToDelete").val(idToDelete);
        });

        $("#removeBtn").on("click", function () {
            var idToDelete = $("#idToDelete").val();
            $("#user_" + idToDelete).hide("slow");
            $.ajax({
                url: '/Users/Remove',
                type: 'POST',
                data: { id: idToDelete },
                success: function (data) {
                    $("#remove-user-modal").modal("hide");
                },
                error: function (data) {
                    $("#remove-user-modal").modal("hide");
                    $("#user" + idToDelete).show();
                }
            });
        });
    })
</script>

<section class="section">
    <div class="card">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between mb-3">
                    <h4 class="card-title">@Strings.Search</h4>
                    <div class="col-auto">
                        <div class="form-group">
                            <a asp-action="Add" asp-controller="Users" class="btn btn-secondary px-4">
                                @Strings.AddUser
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="Filter" method="get" class="form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input asp-for="FirstName" type="text" class="form-control" placeholder="@Strings.FirstName">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input asp-for="LastName" type="text" class="form-control" placeholder="@Strings.LastName">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input asp-for="Username" type="text" class="form-control" placeholder="@Strings.Username">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="row form-group mx-1">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">@Strings.Search</button>
                                </div>
                            </div>
                        </div>

                </form>
                </div>
            </div>
        </div>
        <div class="card-header">
            <h4 class="card-title">@Strings.ShowingUsers</h4>
        </div>
        <div class="card-content">

            <div class="table-responsive">
                <table class="table mb-0 table-lg">
                    <thead>
                        <tr>
                            <th>@Strings.FirstName</th>
                            <th>@Strings.LastName</th>
                            <th>@Strings.Username</th>
                            <th>Email</th>
                            <th>@Strings.Role</th>
                            <th>@Strings.City</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in Model.Users)
                        {
                            <tr id="user_@u.Id">
                                <td>@u.FirstName</td>
                                <td>@u.LastName</td>
                                <td>@u.Username</td>
                                <td>@u.Email</td>
                                <td>@u.Role</td>
                                <td>@u.City.Name</td>
                                <td class="d-flex justify-content-between">
                                    <a asp-controller="Users" asp-action="Edit" asp-route-id="@u.Id" class="btn btn-outline-primary p-2"><i class="bi bi-pencil-square"></i></a>
                                    <button type="button" class="btn btn-outline-danger delete-user p-2" data-id="@u.Id" data-bs-toggle="modal" data-
                                            data-bs-target="#remove-user-modal">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--MODAL-->
    <div class="modal fade" tabindex="-1" role="dialog" id="remove-user-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Strings.RemoveUserConfirmation?</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="idToDelete" />
                    <button type="submit" id="removeBtn" class="btn px-4 btn-danger">@Strings.Yes</button>
                    <button type="button" class="btn px-4 btn-secondary" data-bs-dismiss="modal">@Strings.No</button>
                </div>
            </div>
        </div>
    </div>
</section>

