@inject UserManager UserManager

@{
    var page = ViewData["Page"] as NavigationPages?;
}

<div class="sidebar-menu">
    <ul class="menu">
        <li class="sidebar-item @(page == NavigationPages.Home ? "active" : "")">
            <a href="/" class="sidebar-link">
                <i class="bi bi-grid-fill"></i>
                <span>@Strings.HomePage</span>
            </a>
        </li>
        @if (UserManager.IsInRoles(Role.SuperAdministrator))
        {
            <li class="sidebar-item @(page == NavigationPages.Countries ? "active" : "")">
                <a asp-action="Index" asp-controller="Countries" class="sidebar-link">
                    <i class="bi bi-flag"></i>
                    <span>@Strings.Countries</span>
                </a>
            </li>
            <li class="sidebar-item @(page == NavigationPages.Cities ? "active" : "")">
                <a asp-action="Index" asp-controller="Cities" class="sidebar-link">
                    <i class="bi bi-geo-alt"></i>
                    <span>@Strings.Cities</span>
                </a>
            </li>
            <li class="sidebar-item @(page == NavigationPages.Users ? "active" : "")">
                <a asp-action="Index" asp-controller="Users" class="sidebar-link">
                    <i class="bi bi-geo-alt"></i>
                    <span>@Strings.Users</span>
                </a>
            </li>
            <li class="sidebar-item @(page == NavigationPages.AddUser ? "active" : "")">
                <a asp-action="Add" asp-controller="Users" class="sidebar-link">
                    <i class="bi bi-geo-alt"></i>
                    <span>@Strings.AddUser</span>
                </a>
            </li>
        }
    </ul>
</div>