@model Appointify.Admin.ViewModels.Countries.IndexViewModel

@{
    ViewData["Title"] = Strings.Countries;
    ViewData["Page"] = NavigationPages.Countries;
}

<section class="section">
    <div class="card">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between mb-3">
                    <h4 class="card-title">@Strings.Search</h4>
                    <div class="col-auto">
                        <div class="form-group">
                            <a asp-action="AddCountry" asp-controller="Countries" class="btn btn-secondary px-4">
                                @Strings.AddCountry
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="FilterCountries" method="get" class="form">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input asp-for="Name" type="text" id="country-name-column" class="form-control" placeholder="@Strings.CountryName">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="row form-group mx-1">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">@Strings.Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   
        <div class="card-header">
            <h4 class="card-title">@Strings.ShowingCountries</h4>
        </div>
        <div class="card-content">
            <div class="table-responsive">
                <table class="table mb-0 table-lg">
                    <thead>
                        <tr>
                            <th>@Strings.Name</th>
                            <th>@Strings.CreatedAt</th>
                            <th>@Strings.ModifiedAt</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in Model.Countries)
                        {
                            <tr id="country_@c.Id">
                                <td class="text-bold-500">@c.Name</td>
                                <td>@c.CreatedAt</td>
                                @if (c.ModifiedAt != null)
                                {
                                    <td>@c.ModifiedAt</td>
                                }
                                else
                                {
                                    <td>Not modified</td>

                                }
                            <td class="col-md-9 d-flex justify-content-between">
                                <a asp-controller="Countries" asp-action="EditCountry" asp-route-id="@c.Id" class="btn btn-outline-primary p-2"><i class="bi bi-pencil-square"></i></a>
                                <button type="button" class="btn btn-outline-danger delete-country p-2" data-id="@c.Id" data-bs-toggle="modal" data-
                                        data-bs-target="#remove-country-modal">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="remove-country-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Strings.RemoveCountryConfirmation?</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="countryIdToDelete" />
                    <button type="submit" id="removeBtn" class="btn px-4 btn-danger">@Strings.Yes</button>
                    <button type="button" class="btn px-4 btn-secondary" data-bs-dismiss="modal">@Strings.No</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(function () {
            $(".delete-country").on("click", function () {
                var idToDelete = $(this).data("id");
                $("#countryIdToDelete").val(idToDelete);
            });

            $("#removeBtn").on("click", function () {
                var idToDelete = $("#countryIdToDelete").val();
                $("#country_" + idToDelete).hide("slow");
                $.ajax({
                    url: '/Countries/RemoveCountry',
                    type: 'POST',
                    data: { id: idToDelete },
                    success: function (data) {
                        $("#remove-country-modal").modal("hide");
                    },
                    error: function (data) {
                        $("#remove-country-modal").modal("hide");
                        $("#country_" + idToDelete).show();
                    }
                });
            });
        })
    </script>
</section>